## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numeroEntero = 15
print(numeroEntero)

15

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
constante = 8.5
type(constante)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(numeroEntero)

int

4) Crear una variable que contenga tu nombre

In [ ]:
miNombre = "Ivan Vargas Carmona"

5) Crear una variable que contenga un número complejo

In [4]:
numeroComplejo = 45 + 8j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [5]:
type(numeroComplejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [6]:
Variable1 = 'True'
Variable2 = True
Variable1 == Variable2

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [9]:
type(Variable1)
type(Variable2)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
suma = 45 + 17.5
print(suma)

62.5

11) Realizar una operación de suma de números complejos

In [12]:
a = 5 + 47j 
b = 8 + 68j
print(a + b)

(13+115j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
a = 58
b = 46 + 3j
print(a + b)

(104+3j)

13) Realizar una operación de multiplicación

In [14]:
a = 2
b = 53
print(a * b)

106

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
a = 27 
b = 4
cociente = a / b
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
entera = a // b
print(entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
resto = a % b
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [32]:
resultado = entera * 4 + resto
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [33]:
var1 = "Colombia "
var2 = "tierra querida"
print(var1 + var2)

Colombia tierra querida

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [34]:
c = "2"
d = 2
c == d

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [35]:
int(c) == d

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Por que los datos de tipo float se identifican por que el decimal es un "." no una ","

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [39]:
var3 = 3
var3 -= 1
print(var3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
var4 = 2 + '2'
print(var4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

No se puede realizar la operacion por que los datos no son del mismo tipo

26) Realizar una operación válida entre valores de tipo entero y string

In [42]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces